{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Search| Elephant Castle Propeties - Best real estate company in Nigeria{% endblock%}


{% block content %}
<section id="properties-all">
    <div class="container py-5 mt-5">
        <div class="row py-5">
            <h2 class="text-center text-danger mb-5">Properties For: {{category.name|title}}</h2>
            {% for property in properties %}
            <div class="col-md-3 p-anime mb-md-4">
                {% if property.is_sold %}
                <h3 id="sold">Sold</h3>
                {% endif %}
                <div class="card h-100">
                    <img src="{{property.top_image.url}}" class="card-img-top">
                    <div class="card-body">
                        <p class="fw-bold text-primary">{{property.category}}</p>
                        <p class="card-text text-start fw-600" style="font-size: 16px;">{{property.title|slice:":76"}} ..............</p>
                        <h5 class="card-title">&#x20A6;{{property.price|intcomma}}</h5>
                        <hr>
                        <p class="card-subtitle fw-bold small text-secondary">{{property.bedroom}} Bed | {{property.bathroom}} Bath</p>     
                        <a href="{% url 'properties:details' property.slug %}" class="btn btn-danger fw-bold mt-3 rounded-pill w-100">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %} 
            
        </div>
    </div>
</section>
{% endblock %}