{% load static %}
<style>
    #footer{
    background-color: #000000 !important;    
    }
    ul {
	list-style-type: none;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    a:hover{
        color: #ff523b;
    }
</style>

<section id="footer">
    <div class="container py-5 text-white">
        <div class="row gx-5">
            <div class="col-md-6 pt-4">
                <img src="{% static 'images/e_logo.png' %}" class="img-fluid mb-4" style="width: 250px;">
                <ul>
                    <li class="mb-2"><strong>Address:</strong> Adele House, Plot 20, block 88, Ago Palace Way,<br> Amuwo Odofin, Lagos</li>
                    <li class="mb-2"><strong>Phone:</strong> +234 706 346 4235</li>
                    <li><strong>Email:</strong> contact@elephantcastleproperties.com</li>
                    <li><strong></strong></li>
                </ul>
            </div>
            
            <div class="col-md-3 d-flex flex-column pt-5">
                <h3 class="mb-4">Useful Links</h3> 
                <a href="/">Home</a>
                <a href="{% url 'properties:contact' %}">Contact</a>
                <a href="{% url 'properties:properties' %}">Properties</a>
                
                
            </div>
            <div class="col-md-3 d-flex flex-column text-center pt-5">
                <h3 class="mb-4">Follow Us</h3>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
                <a href="">Tiktok</a>
                <a href="">Instagram</a>
                <a href="">Youtube</a>
            </div>
            <!-- <div class="col-md-3 text-center">
                <img src="{% static 'images/e_logo.png' %}" class="img-fluid mb-4" style="width: 250px;">
                <p>Elephant Castle Limited is a young and dynamic real estate investment consultancy, we are focused on delivering Value in value management, project management, estate consulting and property management services.</p>
            </div> -->
        </div>
        <hr class="text-white">
        <h6 class="text-center">&#169;	Copyright 2023 - Elephant Castle Limited</h6>
    </div>
</section>