{% extends './base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Home| Elephant Castle Propeties - Best real estate company in Nigeria{% endblock%}


{% block content %}


<section id="hero">
    <div class="container ">
        <div class="row justify-content-center align-item-center">
            <div class="col-md-7">
                <h2 class="title">ELEPHANT CASTLE PROPERTIES</h2>
                <p class="sub-title">Buy and sell real estate properties with Elephant Castle Properties, subsidiary of Nonso Egbunike And Co. Estate Surveyors and Valuers.</p>
            </div>
        </div>
    </div>
</section>


<!-- about -->
<section class="about">
    <div class="container py-4">
        <h2 class="text-center text-danger mb-5">About Us</h2>
        <div class="row gx-5">
            <div class="col-md-5">
                <img src="{% static 'images/about-img.jpg' %}" alt="" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-7">
                <h2>Introduction</h2>
                <p class="text-dark">Elephant Castle Properties is a dynamic and innovative real estate investment 
                    consultancy. We are focused on delivering excellence in value management, project 
                    management, estate consulting and property management services. Our range of services 
                    spans the scope of the real estate investor's needs, from simple conveyance to full 
                    management of developed property and disposal as the case may be.
                    We have concrete experience in managing residential and commercial properties both in 
                    and outside of Lagos. Our services ensure that our client's realties are kept in functional 
                    and profitable order, ensuring or exceeding the returns on our client's investment in their 
                    property portfolio.
                    Well-managed property assets cost less, deliver better returns and project the perfect 
                    image for clients. With an impressive track record and extensive experience, Elephant 
                    Castle's management team has enabled developers, owners and occupiers alike to ensure 
                    both efficient day-to-day operations and the best possible economic returns.
                </p>
                <h3>GOAL</h3>
                <p>
                    We place all resources at our disposal in to 
                    the management of our realties. Our 
                    experience in asset management, be it 
                    residential or commercial, affirms that we 
                    achieve or exceed the desired result.
                </p>
            </div>
        </div>
    </div>
</section>


<!-- How it works  -->
<section id="how-it-works">
    <div class="container py-5">
        <h2 class="text-center text-danger mb-5">HOW IT WORKS</h2>
        <div class="row pt-3">
            
            <div class="col-md-4  mb-4 mb-md-0">
                <img src="{% static 'images/cart.png' %}" width="30px" height="30px" >

                <h3>Property Management</h3>
                <p class="small">
                    Our experienced and committed team manages commercial, 
                    Residential and Industrial Properties of all sorts. Management 
                    encompasses all aspects of routine day-to-day, month to month and 
                    year-to-year services including tenant selection, the collection and 
                    accounting of rents, insurance and service charges, the 
                    enforcement of Landlord and Tenants repair obligations and other 
                    lease concords, the supervision of service and maintenance 
                    contracts and the implementation and record of rent and lease 
                    renewals. Our Surveyor's advice on planned schedules of 
                    maintenance and building improvement, ensuring Landlords are 
                    kept appraised on likely future expenditure.
                </p>
            </div>
            <div class="col-md-4  mb-4 mb-md-0">
                <img src="{% static 'images/cart.png' %}" width="30px" height="30px" >

                <h3>Estate Consulting</h3>
                <p class="small">
                    Our firm is involved in providing unbiased end-to-end 
                    advisory services on the real estate market to our clients. 
                    This we carry out by researching real estate markets to 
                    understand trends and market fundamentals in order to 
                    anticipate changes in the market. This market 
                    intelligence is critical to our keeping ahead of the market, 
                    remaining competitive and elevating the quality of our 
                    real estate investment decision-making on behalf of our 
                    clients. Our aim here is geared towards providing 
                    efficient, reliable and professional real estate advisory 
                    services to meet the diverse needs of our clients and aid 
                    them in potential decision-making.
                </p>
                
            </div>
            <div class="col-md-4  mb-4 mb-md-0">
                <img src="{% static 'images/cart.png' %}" width="30px" height="30px" >
                <h3>Value Management</h3>
                <p class="small">
                    This is the core of our service…to ensure all our projects 
                    are delivered within budget and the stipulated timeframe 
                    while attaining or exceeding the expected quality
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Top sales -->

<section id="top-sales">
    <div class="container py-5">
        <h2 class="text-center text-danger mb-5">Top Sales</h2>
        <div class="row">
            {% for sale in top_sales %}
            <div class="col-md-3 p-anime">
                {% if sale.is_sold %}
                <h3 id="sold">Sold</h3>
                {% endif %}
                <div class="card h-100 ">
                    <img src="{{sale.top_image.url}}" class="card-img-top p-card">
                    <div class="card-body">
                        <p class="fw-bold text-primary">{{sale.category}}</p>
                        <p class="card-text text-start fw-600" style="font-size: 16px;">{{sale.title|slice:":76"}} ..............</p>
                        <h5 class="card-title">&#x20A6;{{sale.price|intcomma}}</h5>
                        <hr>
                        <p class="card-subtitle fw-bold small text-secondary">{{sale.bedroom}} Bed | {{sale.bathroom}} Bath</p>
                        <a href="{% url 'properties:details' sale.slug %}" class="btn btn-danger fw-bold mt-3 rounded-pill w-100">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</section>


<!-- properties -->

<section id="properties">
    <div class="container py-5">
        <h2 class="text-center text-danger mb-5">Available Properties</h2>
        <div class="row">
            {% for property in properties %}
            {% if property.category.name != 'Lease' %}
            <div class="col-md-3 p-anime mb-md-4">
                {% if property.is_sold %}
                <h3 id="sold">Sold</h3>
                {% endif %}
                <!-- <h3 id="sold">Sold</h3> -->
                <div class="card h-100">
                    <img src="{{property.top_image.url}}" class="card-img-top p-card">
                    <div class="card-body">
                        <p class="fw-bold text-primary">{{property.category}}</p>
                        <p class="card-text text-start fw-600" style="font-size: 16px;">{{property.title|slice:":76"}} ..............</p>
                        <h5 class="card-title">&#x20A6;{{property.price|intcomma}}</h5>
                        <hr>
                        <p class="card-subtitle fw-bold small text-secondary">{{property.bedroom}} Bed | {{property.bathroom}} Bath</p>
                        <a href="{% url 'properties:details' property.slug %}" class="btn btn-danger fw-bold mt-3 rounded-pill w-100">View Details</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}          
        </div>
    </div>
</section>


<!-- who we are -->
<section id="who-we-are">
    <div class="container py-5">
        <div class="row pt-2 gx-5">
            <div class="col-md-6 border-start mb-5 mb-sm-0">
                <img src="{% static 'images/e_logo.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-1 border-end border-1 border-dark"></div>
            <div class="col-md-5 mt-2 mt-sm-0">
                <h2>A Nonso Egbunike & Co. Establishment.</h2>
                <p>Elephant Castle Limited is a young and dynamic real estate investment consultancy, we are focused on delivering Value in value management, project management, estate consulting and property management services.</p>
                <!-- <p class="fw-bol text-sucess">Suggested List Of Services:</p>
                <ul>
                    <li>Buying and Selling of properties</li>
                    <li>Rent/ Lease</li>
                    <li>Commercial/ Residential...?</li>
                    <li>Property Management</li>
                    <li>Estate Management</li>
                    <li>Consultancy</li>
                </ul> -->
            </div>
        </div>
    </div>
</section>


<!-- testimonial -->
<section id="testimonial">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 testimonials">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <i class="fa fa-quote-left"></i>
                        <p>I have done business with this company and they are very reliable</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <img src="{% static 'images/commenter-1.jpeg' %}">
                            <h3>Kolawole Felix</h3>
                    </div>
                </div>           
            </div>
            <div class="col-md-4 testimonials">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <i class="fa fa-quote-left"></i>
                        <p>They helped get a property in Lekki and everything went smoothly</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <img src="{% static 'images/commenter-2.jpg' %}">
                            <h3>Ikenna Okeke</h3>
                    </div>
                </div>           
            </div>
            <div class="col-md-4 testimonials">
                <div class="card shadow text-center">
                    <div class="card-body">
                        <i class="fa fa-quote-left"></i>
                        <p>I have done business with this company and they are very reliable</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <img src="{% static 'images/commenter-3.jpg' %}">
                            <h3>Obianuju Odidika</h3>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</section>
{% endblock%}
