{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'properties:home' %}"> <img src="{% static 'images/e_logo.png' %}" alt="logo" style="width: 250px;"> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'properties:home' %}">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Properties
            </a>
            <ul class="dropdown-menu fw-bold">
              <li><a class="dropdown-item" href="{% url 'properties:properties' %}">All</a></li>
              {% for c in categories %}
              <li><a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'properties:contact' %}">Contact</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'properties:list_properties' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'properties:logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
</nav>