{% extends './base.html' %}
{% load static %}

{% block title %}Properties| Elephant Castle Propeties - Best real estate company in Nigeria{% endblock%}


{% block content %}
<section id="properties-all">
    <div class="container py-5 mt-5">
        <h2 class="text-center text-danger mb-5">All Available Properties</h2>
        <div class="row py-5">
            {% for property in properties %}
            <div class="col-md-3 p-anime">
                <div class="card h-100">
                    <img src="{{property.top_image.url}}" class="card-img-top" style="height: 180px;">
                    <div class="card-body">
                      <p class="card-text text-start fw-600" style="font-size: 16px;">{{property.title|slice:":76"}} ..............</p>
                      <h5 class="card-title">&#x20A6;{{property.price}}</h5>
                      <a href="{% url 'properties:details' property.slug %}" class="btn btn-danger fw-bold mt-3 rounded-pill w-100">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %} 
            
        </div>
    </div>
</section>
{% endblock %}