* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
}
.navbar {
	display: flex;
	align-items: center;
	padding: 8px;
}
nav {
	flex: 1;
	text-align: right;
}
nav ul {
	display: inline-block;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin-right: 20px;
}
nav ul li a {
	color: #fff;
}

a {
	text-decoration: none;
	color: #555;
}
p {
	color: #555;
}
.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.fullnav {
	background: radial-gradient(rgb(61, 52, 44), #2e1d1b);
	height: 60px;
	width: 100%;
	z-index: 3;
}
a:hover {
	color: #ff523b;
}
.navbar img {
	color: #fff;
	background: #fff;
}
/* hero hero */
.containers {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}
.flex {
	display: flex;
	justify-content: center;
}
h1,
h2,
h3,
h5 {
	margin: 0;
	padding: 0;
}
h1,
h2 {
	font-weight: 800;
}
h1 {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
h2 {
	font-size: 2.5rem;
	color: coral;
	margin-bottom: 1rem;
	line-height: 1.2;
}
h3 {
	font-size: 1.4rem;
	font-weight: 300;
}
h5 {
	font-size: 1rem;
}

/* hero hero */
#hero {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
		url(images/hero.jpg) center center no-repeat;
	height: 100vh;
	background-position: center;
	background-size: cover;
	padding: 0.5rem calc((100vw - 1200px) / 2);
	display: flex;
	justify-items: flex-start;
	align-items: center;
}
#hero .hero-text {
	color: #fff;
	padding: 3rem 1rem;
	line-height: 1;
}
.hero-text p {
	font-size: clamp(0.3rem, 3vw, 1.5rem);
	color: #fff;
	margin-bottom: 1rem;
}
.hero-text h1 {
	font-size: clamp(0.8rem, 5vw, 3.5rem);
}

/* hero section */
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2 {
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img {
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1 {
	font-size: 35px;
	line-height: 50px;
	margin: 25px 0;
}
.btn {
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	cursor: pointer;
	transition: background 0.5s;
}
.hero {
	background: url(images/hero.jpg);
}
.header {
	background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
	margin-top: 70px;
}
.btn:hover {
	background: #563434;
}

/* how it works */
#how-it-works {
	padding: 3rem 0;
	background: #f8f9fa;
	text-align: center;
}
#how-it-works h2 {
	margin-bottom: 3rem;
}
#how-it-works .flex > div {
	width: 30%;
}
#how-it-works h4 {
	margin-top: 1rem;
}
/* property session */
#properties {
	margin: 4rem 0 8rem;
	position: relative;
	display: flex;
}
.slick {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.slick div {
	width: 100%;
}
#properties h2 {
	margin-bottom: 3rem;
}
#properties.container {
	position: relative;
}
#properties.container:before {
	content: "/";
	position: absolute;
	top: 18px;
	right: 80px;
	color: #999;
}
#properties-slider a.slick-arrow {
	color: #000;
	position: absolute;
	top: -75px;
	right: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-decoration: none;
}
#properties-slider a.slick-prev {
	right: 80px;
}
#properties-slider a.slick-slide {
	padding: 0 15px;
}
#properties-slider img {
	width: 100%;
	display: block;
}
#properties-slider .price {
	font-size: 1.2rem;
	color: #343a40;
	font-weight: 800;
	margin: 0 0 0.5 0;
}
#properties-slider .property-details span {
	font-size: 0.8rem;
	padding-right: 15px;
}
#properties-slider .property-details span.beds {
	border-right: 1px solid #888;
}
#properties-slider .property-details address {
	font-size: 0.8;
	font-style: normal;
	margin-top: 0.5rem;
}
#properties {
	display: block;
	margin: 2rem auto zero;
	width: 350px;
}

/* contact */
#contact {
	background: #f8f9fa;
	padding: 4rem 0 8rem;
}
#contact h2 {
	text-align: center;
	margin-bottom: 4rem;
}
#form-container {
	width: 58%;
	background: #fff;
	padding: 3rem;
	box-sizing: border-box;
}
#form-container h3 {
	color: #000;
	margin-bottom: 2rem;
}
#form-container label {
	display: block;
	color: #000;
	margin-top: 1rem;
}
#form-container input,
#form-container textarea {
	display: block;
	border-radius: 20px;
	padding: 10px;
	border: 1px solid #ced4da;
	width: 100%;
	box-sizing: border-box;
	height: 43px;
	font-size: 1rem;
	color: #495057;
}
#form-container textarea {
	height: 170px;
	margin-bottom: 2rem;
	resize: none;
}
#address-container {
	width: 38%;
	background: #fff;
	padding: 1.5rem;
	box-sizing: border-box;
	height: 300px;
	margin-left: 5rem;
}
#address-container label {
	font-weight: 700;
	display: block;
	margin-top: 2rem;
}
#address-container label:first-child {
	margin-top: 0;
}
#address-container address {
	margin-bottom: 1.5rem;
	font-style: normal;
}
#address-container a {
	text-decoration: none;
	color: #ff523b;
}
#address-container a:hover {
	text-decoration: underline;
}

/* categories */
.categories {
	margin: 70px 0;
}
.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img {
	width: 100%;
}
/* features */
.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4 {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img {
	width: 100%;
}
.tittle {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	color: #555;
}
.tittle::after {
	content: "";
	background: #ff523b;
	width: 200px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4 {
	color: #555;
	font-weight: normal;
}
.col-4 p {
	font-size: 14px;
}
.rating .fa {
	color: #ff523b;
}
.col-4:hover {
	transform: translateY(-5px);
}
/* distress sell */
.vwrapper {
	margin: 0 auto;
	width: 100%;
}
.vwrapper h2 {
	text-align: center;
	padding-bottom: 4rem;
	padding-top: 2rem;
}
video {
	width: 100%;
	height: 600px;
}
.vwrapper h3 {
	text-align: center;
	padding-bottom: 4rem;
	padding-top: 2rem;
}

/* offer */
.offer {
	background: radial-gradient(#fff, #ffd6d6);
	margin-top: 80px;
	padding: 30px 0;
}
.col-2 .offer-img {
	padding: 50px;
}
small {
	color: #555;
}

/* testimoniall */

.testimonial {
	padding-top: 100px;
}
.testimonial .col-3 {
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgb(0, 0, 0, 0.1);
	transition: transform 0.5s;
}
.testimonial .col-3 img {
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col-3:hover {
	transform: translateY(-10px);
}
.fa.fa-quote-left {
	font-size: 34px;
	color: #ff523b;
}
.col-3 p {
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}
.testimonial .col-3 h3 {
	font-weight: 600;
	color: #555;
	font-size: 15px;
}

/* footer */
.footer {
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p {
	color: #8a8a8a;
}
.footer h3 {
	color: #fff;
	margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1 {
	flex-basis: 30%;
}
.footer-col-2 {
	flex: 1;
	text-align: center;
}
.footer-col-2 img {
	width: 180px;
	margin-bottom: 20px;
}
/* .footer-col-1 {
	flex-basis: 30%;
} */
.footer-col-3,
.footer-col-4 {
	flex-basis: 12%;
	text-align: center;
}
ul {
	list-style-type: none;
}
.app-logo {
	margin-top: 20px;
}
.app-logo img {
	width: 140px;
}

.footer hr {
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px;
}
.copyright {
	text-align: center;
}

/* menu phone */
.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}
/* all houses */

.row-2 {
	justify-content: block;
	margin: 100px auto 50px;
}
select {
	border: 1px solid #ff523b;
	padding: 5px;
}
select:focus {
	outline: none;
}
.page-btn {
	margin: 0 auto 80px;
}
.page-btn span {
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover {
	background: #ff523b;
	color: #fff;
}

/* single product details */
.single-product {
	margin-top: 80px;
	margin-bottom: 60px;
}
.single-product .col-2 img {
	padding: 0;
}
.single-product .col-2 {
	padding: 20px;
}
.single-product .col-2 h4 {
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.small-img-row {
	display: flex;
	justify-content: space-between;
}
.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
}
/* media query for menu */

@media only screen and (max-width: 800px) {
	nav ul {
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li {
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a {
		color: #fff;
	}
	nav ul li a:hover {
		color: #ff523b;
	}
	.menu-icon {
		display: block;
		cursor: pointer;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1rem;
	}
	.containers {
		max-width: 540px;
	}
	.btn {
		padding: 4px 15px;
	}
	#how-it-works .flex {
		display: block;
	}
	#how-it-works .flex > div {
		width: 100%;
		margin-top: 2rem;
	}
}

/* media query for less than 600screen size */
@media only screen and (max-width: 600px) {
	.row {
		text-align: center;
	}
	.col-2,
	.col-3,
	.col-4 {
		flex-basis: 100%;
	}
	#properties .container:before {
		top: 2px;
		font-size: 0.85rem;
	}
	#properties-slider a.slicker-arrow {
		font-size: 0.85rem;
	}
	#contact .flex {
		flex-wrap: wrap;
	}
	#form-container {
		width: 100%;
		margin-top: 2rem;
	}
	#address-container {
		width: 100%;
		margin-top: 2rem;
	}
	#how-it-works .flex {
		display: block;
	}
	#how-it-works .flex > div {
		width: 100%;
		margin-top: 2rem;
	}
}
