{% extends '../base.html' %}
{% load static %}

{% block title %}Add Property| Elephant Castle Propeties - Best real estate company in Nigeria{% endblock%}


{% block content %}
<div class="container-fluid py-5 mt-5">
    <h3 class="text-center text-danger">All added Properties</h3>
    <div class="text-center">
        <a href="{% url 'properties:add_property' %}" class="btn btn-danger fw-bold rounded-pill w-50 my-4">Add New Property</a>
    </div>
    <div class="row py-2">
        <div class="col-md-12">
            <div class="card shadow card-sm">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>  
                            <th scope="col">Date Added</th>  
                            <th scope="col"></th>  
                            <th scope="col"></th>  
                            <th scope="col"></th>  
                          </tr>
                        </thead>
                        {% for property in properties %}
                        <tbody>
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{property.category.name}}</td>
                            <td>{{property.title}}</td>
                            <td>{{property.price}}</td>
                            <td>{{property.created}}</td>
                            <td><a href="{% url 'properties:details' property.slug %}" class="btn btn-primary fw-bold btn-sm text-white">Details</a></td>
                            <td><a href="" class="btn btn-info fw-bold btn-sm text-white">Update</a></td>
                            <td><a href="" class="btn btn-danger fw-bold btn-sm text-white">Delete</a></td>
                            
                          </tr>
                        </tbody>
                        {% endfor %}
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}